header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url() no-repeat; /* url(https://cdn.discordapp.com/attachments/521027479528275968/586678995202998274/76865526da9a033c.png) */

    background-size: auto 50px;

}



header .row>div:nth-child(1)>a>img {

  display: none;

}